# Python Web Development

### HTML

In [ ]:
# simple html page with a text field and a submit button

<html>
   <body>
      <form>
         <p>Enter Name:</p>
         <p><input type = "text" name = "name" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>

### MySQL Connector

In [ ]:
# firstly install mysqlconnector using pip
!pip install mysql.connector

In [55]:
# import library
import mysql.connector

### create connection

In [56]:
# first crete a mysql server on your system or use any cloud service

In [57]:
# creating connection with credentials
conn = mysql.connector.connect(host="localhost", user="root", passwd="password")

# create the cursor
mycursor = conn.cursor()

### create the database

In [6]:
#creating the database
mycursor.execute("CREATE DATABASE IF NOT EXISTS test_db")

### show list of databases

In [7]:
# show the list of databases
mycursor.execute("SHOW DATABASES")

for i in mycursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test_db',)

### drop the database

In [52]:
# drop the database
mycursor.execute("DROP TABLE table_name")

### use the database

In [58]:
# use the database
mycursor.execute("USE test_db")

### create the table

In [9]:
# create table if not exists
mycursor.execute('CREATE TABLE IF NOT EXISTS student_table(id INTEGER PRIMARY KEY AUTO_INCREMENT,\
                name TEXT, marks INTEGER, group_id INTEGER)')

### DROP Table

In [37]:
# execute query
sql = "DROP TABLE table_name"
mycursor.execute(sql)

### PRIMARY KEY AND FOREIGN KEY

In [44]:
# PRIMARY KEY AND FOREIGN KEY example:
mycursor.execute('CREATE TABLE IF NOT EXISTS grades_table(student_id INTEGER ,\
                grade TEXT, FOREIGN KEY(student_id) REFERENCES student_table(id))')

# insert multiple rows
sql = "INSERT INTO grades_table (student_id, grade) VALUES (%s, %s)"
val = [
  (1, 'A'),
  (2, 'C'),
  (3, 'D'),
  (4, 'A')
]
mycursor.executemany(sql, val)

# commit
conn.commit()

# execute result
sql = "SELECT * FROM grades_table"
mycursor.execute(sql)

result = mycursor.fetchall()
# print the records
for x in result:
    print(x)

(1, 'A')
(2, 'C')
(3, 'D')
(4, 'A')

### show tables

In [54]:
# show tables
mycursor.execute("SHOW TABLES")

# print the result
for x in mycursor:
    print(x)

('grades_table',)
('student_table',)

### ALTER table

In [ ]:
# ALTER the table
sql = "ALTER TABLE student_table ADD phone int(20);"
mycursor.execute(sql)

# commit after every updation
mydb.commit()

### insert single record into the database

In [13]:
# insert query
sql = "INSERT INTO student_table (id, name, marks, group_id) VALUES (%s, %s, %s, %s)"
val = (1, "ravi", 68, 101)
mycursor.execute(sql, val)

# commit after every updation
conn.commit()

### insert multiple records

In [16]:
# insert multiple rows
sql = "INSERT INTO student_table (id, name, marks, group_id) VALUES (%s, %s, %s, %s)"
val = [
  ('2', 'akash', 55, 101),
  ('3', 'jatin', 75, 102),
  ('4', 'prateek', 68, 103),
  ('5', 'sandeep', 99, 103)   
]
mycursor.executemany(sql, val)

# commit
conn.commit()

### select/view record

In [43]:
# select query
mycursor.execute("SELECT * FROM student_table")

# to fetch all records/rows
result = mycursor.fetchall()
for i in result:
    print(i)

# to fetch only 1 record
result2 = mycursor.fetchone()
print(result2)

(1, 'ravi', 68, 101)
(2, 'akash', 55, 101)
(3, 'jatin', 80, 102)
(4, 'prateek', 68, 103)
(5, 'sandeep', 99, 103)
(6, 'Arti', 92, 104)
None

### select particular columns record

In [59]:
# select particular columnskey
mycursor.execute("SELECT id, name FROM student_table")

# fetch result and print record
result = mycursor.fetchall()
for i in result:
    print(i)

(1, 'ravi')
(2, 'akash')
(3, 'jatin')
(4, 'prateek')
(5, 'sandeep')
(6, 'Arti')

### select record with condition

In [19]:
# WHERE condition in SELECT query
sql = "SELECT * FROM student_table WHERE name ='ravi'"
mycursor.execute(sql)

# fetch result and print records
result = mycursor.fetchall()
for i in result:
    print(i)

(1, 'ravi', 68, 101)

### WHERE clause : AND

In [22]:
# WHERE condition with AND operator
sql = "SELECT * FROM student_table WHERE name = 'akash' AND group_id = 101"

mycursor.execute(sql)

result = mycursor.fetchall()
for i in result:
    print(i)

(2, 'akash', 55, 101)

### MySQL WHERE Clause: OR, IN, NOT IN Queries

In [ ]:
# WHERE condition with OR operator
sql1= "SELECT * FROM student_table WHERE name = 'akash' OR 'marks' = 60"

# WHERE condition with IN operator
sql2 = "SELECT * FROM student_table WHERE group_id IN (101, 102)"

# WHERE condition with NOT IN operator
sql3 = "SELECT * FROM student_table WHERE group_id NOT IN (101)"

### ORDER BY

In [60]:
# ORDER BY in SELECT query
sql = "SELECT * FROM student_table ORDER BY name"

# execute query
mycursor.execute(sql)

# fetch result and print record
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(2, 'akash', 55, 101)
(6, 'Arti', 92, 104)
(3, 'jatin', 80, 102)
(4, 'prateek', 68, 103)
(1, 'ravi', 68, 101)
(5, 'sandeep', 99, 103)

### delete a record

In [65]:
# delete a record
sql = "DELETE FROM grades_table WHERE student_id = 1"

# execute query
mycursor.execute(sql)

# commit
conn.commit()

# SELECT query
sql = "SELECT * FROM grades_table"
mycursor.execute(sql)

myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(2, 'C')
(3, 'D')
(4, 'A')

### update a reocrd

In [63]:
# update a record
sql = "UPDATE student_table SET marks = 82 WHERE name = 'jatin'"

# execute query
mycursor.execute(sql)

# commit
conn.commit()

# execute query
sql = "SELECT * FROM student_table"
mycursor.execute(sql)

# fetch result
myresult = mycursor.fetchall()

# print record
for x in myresult:
    print(x)

(1, 'ravi', 68, 101)
(2, 'akash', 55, 101)
(3, 'jatin', 82, 102)
(4, 'prateek', 68, 103)
(5, 'sandeep', 99, 103)
(6, 'Arti', 92, 104)

## JOIN two tables

### JOIN or INNER JOIN

In [66]:
# join two tables
# bedore this you have to create 1 extra tables with 1 common column
sql = "SELECT student_table.name AS name, grades_table.grade AS grade FROM student_table \
    INNER JOIN grades_table ON student_table.id = grades_table.student_id"
mycursor.execute(sql)

# fetch result
result = mycursor.fetchall()

# print the records
for x in result:
    print(x)

('akash', 'C')
('jatin', 'D')
('prateek', 'A')

### LEFT JOIN

In [67]:
# join two tables
# bedore this you have to create 1 extra tables with 1 common column
sql = "SELECT student_table.name AS name, grades_table.grade AS grade FROM student_table \
    LEFT JOIN grades_table ON student_table.id = grades_table.student_id"
mycursor.execute(sql)

# fetch result
result = mycursor.fetchall()

# print the records
for x in result:
    print(x)

('akash', 'C')
('jatin', 'D')
('prateek', 'A')
('ravi', None)
('sandeep', None)
('Arti', None)

### RIGHT JOIN

In [68]:
# join two tables
# bedore this you have to create 1 extra tables with 1 common column
sql = "SELECT student_table.name AS name, grades_table.grade AS grade FROM student_table \
    RIGHT JOIN grades_table ON student_table.id = grades_table.student_id"
mycursor.execute(sql)

result = mycursor.fetchall()
# print the records
for x in result:
    print(x)

('akash', 'C')
('jatin', 'D')
('prateek', 'A')

# Flask

### simple program

In [ ]:
# import library
from flask import Flask

#creating the Flask class object 
app = Flask(__name__)

#route the app
@app.route('/')
def home():
    return "Home Page";

@app.route('/welcome')
def welcome():
    return "Welcome to  Hexnbit"

# run flask application
if __name__ =='__main__':
    app.run(debug = True, port=5000)

## geting input through URL

In [ ]:
# import library
from flask import Flask  

#route the app
@app.route('/')
def home():  
    return "Home Page"; 
@app.route('/admin')
def hexnbit_admin():
    return "Hi, You are the Admin of hexnbit"
@app.route('/guest/<guest>')
def hexnbit_guest(guest):
    return "Hi {}, Welcome to Hexnbit".format(guest)

# run flask application
if __name__ =='__main__':
    app.run(debug = True, port=5000)

## Bind html page on route

In [ ]:
# make sure you put your html files on "templates" folder
# static folder should be on your current working directory

### templates/index.html

In [ ]:
<html>
    <head>
        <title>HOME Page</title>
    </head>
    <body>
        <h1>Welcome to Hexnbit</h1>
    </body>
</html>

### main.py

In [ ]:
# import libraries
from flask import Flask
from flask import render_template

#route the app
@app.route('/')
def home():
    return render_template("index.html")

# run flask application
if __name__ =='__main__':
    app.run(debug = True, port=5000)

## value types

In [ ]:
# for int type value
@app.route('/students/<int:rollno>')
# for float type value
@app.route('/product/<float:price>')

## url_for
### redirecting URL to a specific function

In [ ]:
# import libraries
from flask import Flask, redirect, url_for

app = Flask(__name__)

# route the app
@app.route('/admin')
def admin():
    return 'Hello Admin, Welcome to HexNbit'

@app.route('/guest/<guest>')
def guest(guest):
    return 'Hello %s, Welcome' % guest

@app.route('/user/<name>')
def user(name):
    if name =='admin':
        return redirect(url_for('admin'))
    else:
        return redirect(url_for('guest',guest = name))

# run flask application
if __name__ == '__main__':
    app.run(debug = True)

# HTTP methods - POST

### index.html

<html>  
  <body>  
    <form action = "http://localhost:5000/login" method = "post">  
      <h1>ADMIN PANNEL LOGIN</h1>
      <table>  
        <tr><td>User Name</td>  
        <td><input type ="text" name ="username"></td></tr>  
        <tr><td>Password</td>  
        <td><input type ="password" name ="password"></td></tr>  
        <tr><td><input type = "submit"></td></tr>  
      </table>  
    </form>  
  </body>  
</html>

### main.py

In [ ]:
# import libraries
from flask import *
app = Flask(__name__)

# admin credentials
admin_username = "admin"
admin_password = "123"

@app.route('/login', methods=['POST'])
def login():
    uname = request.form['username']
    passwrd = request.form['password']
    if uname == admin_username and passwrd == admin_password:
        return "Welcome to the admin panel"
    else:
        return "Password or Username Incorrect"

if __name__ == '__main__':
  app.run(debug=True)

## Flask template

In [2]:
# import library
from flask import Flask

application = Flask(__name__)
@application.route('/')
def index():
    # use html syntax inside return
    return '<html><body><h1>Welcome to HexNbit</h1></body></html>'

#  run flask application
if __name__ == '__main__':
    application.run(debug = True)

## jinja template

### index.html

<html>
    <head>
        <title>HOME Page</title>
    </head>
   <body>
      <h1>WELCOME {{ name }}!!</h1>
   </body>
</html>

### main.py

In [ ]:
from flask import Flask, render_template
app = Flask(__name__)

@app.route('/hello/<user>')
def hello_name(user):
    return render_template('index.html', name = user)

# run flask application
if __name__ == '__main__':
    app.run(debug = True)

## flask cookies

In [ ]:
# import libraries
from flask import *

#creating the Flask class object
app = Flask(__name__)

@app.route("/cookies")
def cookies():
    res = make_response("Cookies", 200)
    
    # to set the cookies
    res.set_cookie("mode", "dark")
    
    # to get the cookies
    temp_cookies = request.cookies
    print(temp_cookies)
    
    return res

if __name__ =='__main__':
    app.run(debug = True, port=5000)

### all attributes of set_cookie method

In [ ]:
# there are all the attributes of set_cookie method we can use
res.set_cookie(
    "mode",
    value="dark",
    max_age=20,
    expires=None,
    path=request.path,
    domain=None,
    secure=False,
    httponly=False,
    samesite=False
)

# session

In [ ]:
# The concept of a session is very much similar to that of a cookie. 
# However, the session data is stored on the server.

### home.html

<html>
    <head>
        <title>HOME Page</title>
    </head>
    <body>
        <h3>Welcome to the website</h3>
        <a href = "/login">login</a><br>
        <a href = "/profile">view profile</a><br>
        <a href = "/logout">Log out</a><br>
    </body>
</html>

### login.html

<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <form method = "post" action = "http://localhost:5000/success">  
            <table>
                <tr><td>Student Email</td><td><input type = 'email' name = 'email'></td></tr>  
                <tr><td>Student Password</td><td><input type = 'password' name = 'pass'></td></tr>  
                <tr><td><input type = "submit" value = "Submit"></td></tr>  
            </table>
        </form>
    </body>
</html>

### success.html

<html>
    <head>
        <title>Success Page</title>
    </head>
    <body>
        <h2>Login Successfully</h2>
        <a href="/profile">View Student Profile</a>
    </body>
</html>

### login_failed.html

<html>
    <head>
        <title>Failed</title>
    </head>
    <body>
        <h3>Login Failed</h3>
        <a href = "/login">login again</a><br>
    </body>
</html>

### profile.html

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Profile</title>
</head>
<body>
    <h3>This is Profile Page</h3>
    <a href = "/logout">Log out</a><br>
</body>
</html>

### logout.html

<html>
    <head>
        <title>Student Logout Page</title>
    </head>
    <body>
        <p>Student logout successfully, click <a href="/login">here</a> to login again</p>
        <a href="/">home</a>
    </body>
</html>

### main.py

In [ ]:
# import library
from flask import *
app = Flask(__name__)
app.secret_key = "fe03_2nsnzf"

# login credentials
email = 'user@gmail.com'
password = '123'

# route the app to home page
@app.route('/')
def home():
    return render_template("home.html")

# route the app to login page
@app.route('/login')
def login():
    return render_template("login.html")

# route the app to success page
@app.route('/success',methods = ["POST"])
def success():
    if request.method == "POST":
        session['email']=request.form['email']
        if (request.form['email'] == email and request.form['pass'] == password):
            return render_template('success.html')
        else:
            return render_template('login_fail.html')

# route the app to logout page
@app.route('/logout')
def logout():
    if 'email' in session:
        session.pop('email',None)
        return render_template('logout.html')
    else:
        return '<p>user already logged out!</p>'

# route the app to profile page
@app.route('/profile')
def profile():
    if 'email' in session:
        email = session['email']
        return render_template('profile.html',name=email)  
    else:
        return '<p>do login first</p>'

# run flask application
if __name__ == '__main__':
    app.run(debug = True)

### Redirect and Errors

The Code parameter takes one of following values −

400 − for Bad Request

401 − for Unauthenticated

403 − for Forbidden

404 − for Not Found

406 − for Not Acceptable

415 − for Unsupported Media Type

429 − Too Many Requests

### main.py

In [ ]:
#import libraries
from flask import *
app = Flask(__name__)

# credentials
user_name = 'admin'
password = '123'

@app.route('/')
def home ():
    return render_template("home.html")

@app.route('/login')
def login():
    return render_template("login.html");

@app.route('/check', methods = ["POST"])
def check():
    if request.method == 'POST' and request.form['password'] == password and request.form['username'] == user_name:
        return redirect(url_for("success"))
    else:
        abort(401)

@app.route('/success')
def success():
    return "Successfully Login"

# run flask application
if __name__ == '__main__':
    app.run(debug = True)

### home.html

<html>  
    <head>  
        <title>Home Page</title>  
    </head>  
    <body>  
        <h3>Welcome to the HexNbit</h3>  
        <a href = "/login">Click here to login</a><br>  
</html>

### login.html

<html>  
<head>  
    <title>Login Page</title>  
</head>  
<body>  
    <form method="post" action="http://localhost:5000/check">  
        <table>  
            <tr><td>Enter Username</td><td><input name = 'username'></td></tr>  
            <tr><td>Enter Password</td><td><input type = 'password' name = 'password'></td></tr>  
            <tr><td><input type = "submit" value = "Submit"></td></tr>  
        </table>  
    </form>  
</body>  
</html>

## File Uploading

### upload.py

In [ ]:
# import libraries
from flask import *

app = Flask(__name__)

# home page
@app.route('/')
def upload():
    return render_template("file_upload.html")

# success page
@app.route('/success', methods = ['POST'])
def success():
    if request.method == 'POST':
        f = request.files['file']
        f.save(f.filename)
        return render_template("success.html", name = f.filename)

# run flask application
if __name__ == '__main__':
    app.run(debug = True)

### file_upload.html

<html>
<head>
    <title>upload</title>
</head>
<body>
    <form action = "/success" method = "post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type = "submit" value="Upload">
    </form>
</body>
</html>

### success.html

<html>
    <head>
        <title>success</title>
    </head>
    <body>
        <p>File uploaded successfully</p>
        <p>File Name: {{name}}</p>
    </body>
</html>

## Sqlite3

### DDL Commands

In [6]:
# import library
import sqlite3

# create connection with local database file
con = sqlite3.connect("hexnbit.db")
print("Database opened successfully")

# creating cursor object
cursor = con.cursor()

# execute query - create table
cursor.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text)")
print("Table created successfully")  

# list tables
cursorObj.execute('SELECT name from sqlite_master where type= "table"')

# drop table
cursor.execute('DROP table if exists employees')

# execute query - create table if not exist
cursor.execute("CREATE TABLE IF NOT EXISTS employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)")

# close the connection
con.close()

Database opened successfully
Table created successfully
('employees',)

### INSERT command

In [4]:
# import library
import sqlite3

# create connection with local database file
con = sqlite3.connect("hexnbit.db")
print("Database opened successfully")

# create curson object
cursor = con.cursor()

# execute query - insert row
cursor.execute("INSERT INTO employees VALUES(1, 'Shilpa', 30000, 'HR')")

# commit
con.commit()

# close the connection
con.close()

Database opened successfully

### UPDATE command

In [3]:
# import library
import sqlite3

# create connection with local database file
con = sqlite3.connect("hexnbit.db")
print("Database opened successfully")

# create curson object
cursor = con.cursor()

# execute query - update record
cursor.execute('UPDATE employees SET name = "Sumit" where id = 1')

for row in cursor:
    print(row)

# commit
con.commit()

# close the connection
con.close()

Database opened successfully

### DELETE command

In [ ]:
# import library
import sqlite3

# create connection with local database file
con = sqlite3.connect("hexnbit.db")
print("Database opened successfully")

# create curson object
cursor = con.cursor()

# execute query - delete row
cursor.execute('DELETE FROM employees where id = 1')

# commit
con.commit()

# close the connection
con.close()

### SELECT command

In [ ]:
# import library
import sqlite3

# create connection with local database file
con = sqlite3.connect('mydatabase.db')

# create curson object
cursor = con.cursor()

# execute query - view/ select records
cursor.execute('SELECT * FROM employees')

# fetchall records
rows = cursor.fetchall()

# print records/ row
for row in rows:
    print(row)

# close the connection
con.close()

## SQLAlchemy

In [ ]:
# firstly install SQLAlchemy using pip,
!pip install sqlalchemy

### CREATE table

In [ ]:
# import libraries
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

# we are using sqlite connection
engine = create_engine("sqlite:///library.db",echo = True)
meta = MetaData()

# creating table
books = Table(
   'books', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('author', String),
)
meta.create_all(engine)

### INSERT COMMAND

In [ ]:
# import libraries
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

# sqlite connection
engine = create_engine('sqlite:///library.db', echo = True)
meta = MetaData()

# creating table
books = Table(
   'books', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('author', String), 
)

# inserting into table
ins = books.insert()
ins = books.insert().values(name = 'Maths', author = 'RD')
conn = engine.connect()
result = conn.execute(ins)

### SELECT COMMAND

In [ ]:
# import libraries
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

# sqlite connection
engine = create_engine('sqlite:///library.db', echo = True)
meta = MetaData()

# creating table
books = Table(
   'bookd', meta,
   Column('id', Integer, primary_key = True),
   Column('name', String),
   Column('author', String),
)

# selecting records
s = books.select()
conn = engine.connect()
result = conn.execute(s)

# printing rows
for row in result:
    print(row)

### DELETE COMMAND

In [ ]:
# import libraries
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, delete

# sqlite connection
engine = create_engine('sqlite:///college.db', echo = True)
meta = MetaData()

# creating table
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

# create connection
conn = engine.connect()

# delete query
stmt = students.delete().where(students.c.id == 1)
conn.execute(stmt)

# fetchall
s = students.select()
conn.execute(s).fetchall()

## Flask WTForm

### form.html

In [2]:
# first pip install Flask-WTF
!pip install Flask-WTF
!pip install wtforms

<!DOCTYPE html>
<html>
<head>
	<title>Flask WTForm</title>
</head>
<body>
	<h1>Flask Forms</h1>
	<form action="/" method="POST">
		{{ form.FirstName.label(for="username") }}
		{{ form.FirstName(placeholder="Enter first name", id="username") }}
		<br>
		<br>
		{{ form.LastName.label(for="username") }}
		{{ form.LastName(placeholder="Enter last name", id="username") }}
		<br>
		<br>
		{{ form.rating.label() }}
		{{ form.rating() }}
		<br>
		<br>	
		{{ form.choice.label() }}
		{{ form.choice() }}
		<br>
		{{ form.comments.label() }}
		{{ form.comments() }}
		<br>
		<br>
		{{ form.submit()}}
	</form>
</body>
</html>

### main.py

In [ ]:
# import libraries
from flask import Flask, request, render_template
from flask_wtf import FlaskForm
from wtforms import (StringField, SubmitField, RadioField, SelectField, TextAreaField)

app = Flask(__name__)
# set secret key
app.config["SECRET_KEY"] = 'mysecretkey'

# creating form
class Widgets(FlaskForm):
    # name string field
    FirstName = StringField(label="First Name")
    LastName = StringField(label="Last Name")
    # rating selection field
    rating = SelectField(label="Rate yourself in Python", choices=[
                                                            ("1","1"),
                                                            ("2","2"),
                                                            ("3","3"),
                                                            ("4", "4"),
                                                            ("5","5")])
    # choice radio field
    choice = RadioField(label="Gender", choices=[
                                            ("male","male"),
                                            ("female","female",)])
    # text filed
    comments = TextAreaField(label="Why you like python")
    # submit button
    submit = SubmitField(label="Submit")

# route the app
@app.route("/", methods=("GET", "POST"))
def home():
    form = Widgets()
    # check for submitted or not
    if form.is_submitted():
        result = request.form
        # print or do anything with the form data
        print(result)
        return "FORM SUBMITTED"
    return render_template("form.html", form=form)

# run flask application
if __name__ == "__main__":
    app.run(debug="True")